@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background: #21212c;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

}
